.main
  %center
    %p
      This is to celebrate the contributions of
      %br
      %span.input{ style: 'width: 300px;'}
        = 'Test'
      %br
      to the /
      %span.input{ style: 'width: 200px;'} 
        = 'Test'
      chapter of
      %br
      Make A Difference during
      %span.input{ style: 'width: 150px;'}
        2016 - 2017
      \.
      %br
      As a part of the chapter, he/she fulfilled the
      %br
      responsibilities of a
      %br
      %span.input{ style: 'width: 300px;'}
      = 'Test'
      <br>
      - if true
        as well as 
        %span.input{ style: 'width: 200px;'}
        = 'Test'
        %br  
      and was a valuable asset in
      %br
      delivering MAD's vision of better
      %br
      outcomes for children in shelters.
.footer
  %p
    Make A Difference is a youth driven, non-profit organisation working to ensure better outcomes for children in shelter homes. MAD's vision is to ensure that even the most vulnerable children in society are able to realize equitable outcomes. Our minimum target is to ensure that they surpass the threshold of middle class. Our Mission is to ensure that all children in shelters accross India are able to realize better outcomes within the next 25 years, by mobilizing the community, enabling the sector, empowering the child, and changing the ecosystem.